<div id="role-options-<%= user.id %>" class="reveal-modal" data-reveal>
  <%= simple_form_for user, :url => user_path(user), :html => {:method => :put} do |f| %>
    <h3>Change Role</h3>
    <%= f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: user.role_ids.first %>
    <%= f.submit "Change Role", :class => "button tiny radius" %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
