// import the CSS framework
@import "foundation";
@import "foundation-datepicker";

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }

main {
  @include twelve-columns;
  margin-top:30px;
  }
// section {
//   @extend .row;
//   margin-top: 20px;
//   }
span.hint{
  font-size: 0.75em;
  color:gray;
  position:relative;
  top:-16px;
}