<%# add navigation links to this file %>
<ul class="right">
	<% if user_signed_in? %>
		<% if current_user.has_role? :admin %><li><%= link_to 'Admin', admin_path %></li><% end %>
		<li class="has-dropdown">
			<a href="#">Account</a>
			<ul class="dropdown">
			  	<li><%= link_to 'Edit account', edit_user_registration_path %></li>
			  	<li class="divider"></li>
			  	<li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
			</ul>
		</li>
	<% else %>
	  <li><%= link_to 'Login', new_user_session_path %></li>
	<% end %>
</ul>